body{
    background: wheat;
    color : blue;
}

/* 일반적인 상황일 때 밑 줄을 치지 않음 */
a {
    text-decoration: none;
    color :brown;
}

/* 마우스를 올렸을 때 underline을 표시해줌  가상선택자*/
a:hover{
    text-decoration: underline; 
}
